<% layout('/layout/boilerplate') %>
<body>
    <h4>list Details</h4>
    <ul>
        <li><%=data.title%></li>
        <li><%=data.description%></li>
        <li>&#8377;: <%=data.price.toLocaleString("en-IN")%></li>
        <li><%=data.location%></li>
        <li><%=data.country%></li>
    </ul>
    <a href="http://localhost:3000/listing/<%=data._id%>/edit">Edit your details</a>
    <form action="/listing/<%=data._id%>?_method=DELETE" method="POST"><button>Delete</button></form>
</body>
