<% layout('layout/boilerPlate') %>
    <form action="/listing/<%=list._id%>?_method=PUT" method="POST">
        <h1>Edit your details</h1>
        <input type="text" name="title" id="" value="<%=list.title%>" placeholder="Enter title">  <br>
        <input type="text" name="image" id="" value="<%=list.image%>" placeholder="Enter image url"> <br>
        <input type="text" name="description" id="" value="<%=list.description %>" placeholder="Enter description"> <br>
        <input type="number" name="price" id="" value="<%=list.price %> placeholder="Enter price"> <br>
        <input type="text" name="location" id="" value="<%=list.location %> placeholder="Enter location"> <br>
        <input type="text" name="country" id="" value="<%=list.country %> placeholder="Enter country"> <br>
        <button>Create</button>
    </form>
